<form action='/update/<%=params[:id]%>' method='post'>
  <h3>Make your edits!</h3>
  Title: <input type='text' name='title' value="<%=@videos["title"]%>" autofocus></br>
  URL: <input type='text' name='url' value="<%=@videos["url"]%>" ></br>
  <div id= 'description'>
    Description: <input type='text' name='description' value="<%=@videos["description"]%>"></div>
  <div id='genre'>
  Genre: <input type='text' name='genre' value="<%=@videos["genre"]%>"></div>
<button>Save</button>
</form>  
