<h2>Cookbook Recipes</h2>

<a class='new' href="/recipes/new">Add a New Recipe</a>

<table>
		<tr>
			<th>Name</th>
		</tr>
		<% @recipes.each do |recipe| %>
		<tr>
			<td><%= recipe.name %></td>
      <td><%= recipe.size %></td>
      <td><%= recipe.category_id %></td>
			<td><%= link_to 'Show', recipe_path(recipe) %></td><td><%= link_to'Edit', edit_recipe_path(recipe) %></td><td><%= link_to 'Delete', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td></tr>
		<% end %>
</table>


