<%= form_for @movie do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :director %><br />
    <%= f.text_field :director %>
  </p>
  <p>
    <%= f.label :actor %><br />
    <%= f.text_area :actor %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :review %><br />
    <%= f.text_area :review %>
  </p>
   <p>
    <%= f.label :trailer_url %> &nbsp;(only input youtube id)<br />
    <%= f.text_field :trailer_url %>
  </p>
  




  <p><%= f.submit %></p>
<% end %>