<h1>Movies</h1>

 <% for movie in @movies %>
    <tr>
      <td><%= movie.title %></td>
      <td><%= link_to "Show", movie %></td>
      <td><%= link_to "Edit", edit_movie_path(movie) %></td>
      <td><%= link_to "Destroy", movie, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>

<p><%= link_to "New Movie", new_movie_path %></p>