<!DOCTYPE html>
<html>
<head>
  <title>Contacts</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class='login'>
    <% if current_user %>
      Logged in as: 
      <%= current_user.name %> 
      <%= current_user.email %> 
      <%= link_to 'logout', destroy_user_session_path, method: :delete %> 
      <img src='<%= current_user.remote_avatar_url %>'> 
    <% else %>
      <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>
      <%= link_to 'register', new_user_registration_path %>
    <% end %>
  </div>

 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
