<%= form_for @category do |f| %>
<%= f.label :name %>
<div class="black"><%= f.text_field :name %></div>
<br /><br />
<%= f.label :image %> URL
<div class="black"><%= f.text_field :image %></div>
<br /><br />
<div class="black"><%= submit_tag("Submit") %></div>
<% end %>
<%= link_to "Cancel", categories_path %>
