<h2><%= @category.name %></h2>
<%= image_tag("#{@category.image}") if @category.image > "" %><br />
<% if @recipes %>
  <ul>
    <% @recipes.each do |recipe| %>
      <li><%= link_to recipe.title, recipe_path(recipe) %></li>
    <% end %>
  </ul>
<% end %>
<%= button_to "Edit", edit_category_path(@category), method: "get" %>
<%= button_to "Delete", delete_category_path(@category), method: "post", confirm: "Delete \"#{@category.name}?\"" %>
