<!DOCTYPE html>
<html>
<head>
  <title>F1 Car database</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="links">
<%= link_to "All Cars", f1cars_path %> 
<%= link_to "New Car", new_f1car_path %>
</div>

<%= yield %>

</body>
</html>
