<!DOCTYPE html>
<html>
<head>
  <title>CookbookApp</title>
  <link rel="icon" 
      type="image/png" 
      href="/favicon.png">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<div class="header">
  <img src="/berg.png" alt="logo" />
  <h1>Cooking with Walter White and Jesse Pinkman</h1>
</div>
<h3><a href="/about">About</a>  &nbsp <%= link_to "Categories", categories_path %> &nbsp <%= link_to "Recipes", recipes_path %></h3>
<body>

<%= yield %>

</body>
</html>
