<% @cars.each do |car| %>

<p><%= link_to car.name, car_path(car) %> building year <%= car.year %> color <%= car.color %></p>
<% end %>
<%= button_to 'Delete Car', car_delete_path(car) %>
<%= link_to 'Edit Car', edit_car_path(car) %>

<% end %>
