<% @cars.each do |car| %>

<p><%= link_to car.name, car_path(car) %> was build in <%= car.year %> and comes in beautiful <%= car.color %></p>

<%= button_to 'Delete Car', car_delete_path(car) %>
<%= link_to 'Edit Car', edit_car_path(car) %>

<% end %>


