
    <tr>
      <td>
        <a href="<%= movie_path(movie) %>"><%= movie.title %></a>
      </td>
      <td>
        <%= movie.year %>
      </td>
      <td>
       
       <% unless params[:id] %>
        <%= link_to "Destroy", movie, :confirm => 'Are you sure?', :method => :delete %>

        <% if current_user %>
          <%= link_to "Add film to favourites", edit_user_path(current_user, :movie_id => movie.id, :action => "add") %>
         <% end %>

        <% else %>
          <!-- #doesn't work and seems very smely -->
          <%= link_to "Remove film from favourites", edit_user_path(current_user, :movie_id => movie.id, :action => "remove") %>

        <% end %>

      </td>
    </tr>
 
    
