<h2>Your Movie</h2>

<table>
  <tr>
    <td>Movie</td> 
    <td><%= @movie.title %></td>
  <tr>
      <td>Year</td>
      <td><%= @movie.year %></td>
  </tr>
  <tr>
    <td> 
      Actors
    </td>
      <td>
          <%= actors %>        
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
          <%= link_to "Edit", edit_movie_path(@movie) %> 
          <%= link_to "Destroy", @movie, :confirm => 'Are you sure?', :method => :delete %>
       </td>   
    </tr>
  </table>
