<section>
  <h2 class='name'><%= @video["video_name"] %></h2>
  <iframe width="560" height="315" src="//www.youtube.com/embed/<%= @video["video_id"] %>" frameborder="0" allowfullscreen></iframe>
  <p class="tags"><%= @video["tags"].to_s.gsub("{","").gsub("}","").gsub(",",", ") %></p>
  <p class="standard"><%= @video["posted_by"] %>, <%= if @video["updated_at"] then @video["updated_at"] else @video["created_at"] end %></p>
  <p class="standard"><%= @video["video_description"] %></p>
  <form action='/edit/:<%= @video["id"] %>' method='get'>
    <button name='edit' type='submit' value='<%= @video["id"] %>' >Update Video Details</button>    
  </form>
  <form action='/delete/:<%= @video["id"] %>' method='get'>
    <button name='delete' type='submit' value='<%= @video["id"] %>' >Delete Video</button>
  </form>
</section>