<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>

      <nav>
        <ul>
          <li>
            <%=link_to 'recipes', recipes_path %>
          </li>
          <li>
            <%=link_to 'ingredients', ingredients_path %>
          </li>
          <li>
            <%=link_to 'categories', categories_path %>
          </li>
        </ul>

      </nav>

      <%= search_form_for @q do |f| %>
  <p>
    <%= f.label :name_or_ingredients_name_or_category_name_cont, 'search' %>
    <%= f.text_field :name_or_ingredients_name_or_category_name_cont %>
  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>


      <%= content_tag :h1, yield(:title) if show_title? %>

      <%= yield %>
    </div>
  </body>
</html>
