<!DOCTYPE html>
<html>
<head>
  <title>Cookbook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to 'View Recipes', recipes_path %>
  <%= link_to 'Add Recipe', new_recipe_path %>
  <%= link_to 'View Categories', categories_path %>
  <%= link_to 'View Ingredients', ingredients_path %>
<%= yield %>

</body>
</html>
