<h1>MTA Journey Calculator</h1>

<% if @result %>
  
  <h2>Journey Length</h2>

  <p>You will travel <strong><%=@result %></strong> stations.</p>
  <p>Start line: <strong><%=@start_line %></strong>  Start station: <strong><%=@start_point %></strong></p>
  <p>End line: <strong><%=@end_line %></strong>  End station: <strong><%=@end_point %></strong></p>
<% end %>

<h2>Calculate Your Journey</h2>

<img src="images/mta_map.png" width="300"/ >

<p><%=@subway.to_s %><p>

<%= form_tag(root_path) do %>

  <p>Start line: <%= text_field_tag :start_line %></p>
  <p>Start point:<%= text_field_tag :start_point %></p>
  <p>End line: <%= text_field_tag :end_line %></p>
  <p>End point: <%= text_field_tag :end_point %></p>

  <%= submit_tag %>

<% end %>