<h1>Listing todos</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Done</th>
    <th>Update</th>
    <th>Delete</th>
    <th>Errors</th>
  </tr>

<% @todos.each do |todo| %>
  <%= form_for(todo) do |f| %>

  <tr> 
    <td> <!-- Name -->
        <div class="field">
          <%= f.text_field :name %>
        </div>
    </td>
    <td> <!-- Done -->
      <div class="field">
        <%= f.check_box :done %>
      </div>
    </td>
    <td> <!-- Update -->
      <div class="actions">
        <%= f.submit %>
      </div>
    </td>
    <td> <!-- Delete -->
      <%= link_to 'Remove', todo, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
    <td> <!-- Errors -->
      <% if todo.errors.any? %>
      <div id="error_explanation">
        <%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:

        <ul>
        <% todo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
      <% end %>
    </td>
  </tr>
  <% end %>
<% end %> 
</table>

<br />
<%= link_to 'New Todo', new_todo_path %>
