<h1>The Recipes index:</h1>


  <table>
    <thead>
      <td>Name</td>
      <td>Feeds</td>
      <td>Category</td>
    </thead>
    <% @recipes.each do |recipe| %>
    <tr>
      <td>
        <%= recipe.name %>
      </td>
      <td>
        <%= recipe.feeds %>
      </td>
      <td>
        <%= Category.find(recipe.category.id).name %>
      </td>            
      <td>
        <%= button_to 'Edit', edit_recipe_path(recipe.id), method: "get" %>
      </td>
      <td>
        <%= button_to 'See Ingredients', recipe_path(recipe.id), method: "get" %>
      </td>      
      <td>
        <%= button_to 'Delete', recipe_delete_path(recipe.id), method: "delete" %>
      </td>      
    </tr>
    <% end %>
  </table>