<% if !@confirm_video %>
  <h2>"<%= @show_video['title'] %>" has already been added to Meme.base.</h2>
<% else %>
  <h2>"<%= @show_video['title'] %>"</h2>
<% end %>
<p></p>
<iframe id="ytplayer" type="text/html" width="640" height="360"
src="https://www.youtube.com/embed/<%= @show_video['id'] %>"
frameborder="0" allowfullscreen />
</iframe>
<div class="container">
  <h4>
  <div class="row">
    <label class="col-sm-2 control-label">Title: </label>
    <div class="col-sm-4">
    <p class="form-control-static">"<%= @show_video['title'] %>"</p>
    </div>
  </div>
  <div class="row">
    <label class="col-sm-2 control-label">Keyword: </label>
    <div class="col-sm-4">
    <p class="form-control-static"><%= @show_video['keyword'] %></p>
    </div>
  </div>
  <div class="row">
    <label class="col-sm-2 control-label">Added: </label>
    <div class="col-sm-4">
    <p class="form-control-static"><%= @show_video['upload_time'] %></p>
    </div>
  </div>
  <div class="row">
    <label class="col-sm-2 control-label">YouTube: </label>
    <div class="col-sm-4">
    <p class="form-control-static"><a href="https://www.youtube.com/embed/<%= @show_video['id'] %>">https://www.youtube.com/embed/<%= @show_video['id'] %></a></p>
    </div>
    </h4>
  </div>
<!-- </div>
 -->




