<!DOCTYPE html>
<html>
<head>
  <title>Cookbook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav >
   <ul >
    <li><%= link_to('Categories',categories_path) %></li >
    <li><%= link_to('New Category',new_category_path) %></li >
    <li><%= link_to('Recipies',recipies_path) %></li >
    
   </ul >
 </nav>

<div class="container">

  <h1>Online Cookbook</h1>

  <%= yield %>

</div>

</body>

<footer><a href="http://www.louiechristie.com">Louie Christie</a> 2014</a></footer>
</html>
