<% @index.each do |index| %>
  
<ul>
  <li><h3><%= index['title'] %></h3></li>
  <li><p><%= index['description'] %></p></li>
  <li><p><%= index['genre'] %></p></li>


  <li><button><a href="/show/<%= index['id'] %>">Show Details</a></button></li>
</ul>


<% end %>

<% @genre.each do |genre| %>

<ul>
<li><p><a href="/category/<%= genre['id'] %>"><%= genre['genre'] %></p></li>


<% end %>

