<!DOCTYPE html>
<html>
<head>
  <title>RecipeBookApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Mike's cookbook</h1>

<a href="<%= new_recipe_path %>">New Recipe</a>
<a href="<%= new_category_path %>">New Category</a>

<%= yield %>

</body>
</html>
