<%= form_for @recipe do |f| %>
<% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved: <%= @recipe.errors.full_messages.join(", ").downcase %>.</h3>
    </div>
  <% end %>

<%= f.label :title %>
<div class="black"><%= f.text_field :title %></div>
<br /><br />
<%= f.label "Category" %> <div class="black"><%= f.collection_select(:category_id, @categories, :id, :name) %></div>
<br /><br />
<%= f.label :description %>
<div class="black"><%= f.text_field :description %></div>
<br /><br />
<%= f.label :prep_time %> (in months)
<div class="black"><%= f.number_field :prep_time, min: 0, step: 1 %></div>
<br /><br />
Ingredients
<br />
<%= f.label "Ingredients" %>
<%= f.collection_select(:ingredientsrecipes, @ingredients, :id, :name) %>
<br />
<%= f.label :instructions %>
<br /><br />
<div class="black"><%= f.text_area :instructions %></div>
<br /><br />
<%= f.label :image %> URL
<div class="black"><%= f.text_field :image %></div>
<br /><br />
<div class="black"><%= submit_tag("Submit") %></div>
<% end %>
<%= link_to "Cancel", recipes_path %>




