<h1>Recipes#index</h1>
<%= link_to "New Recipe", new_recipe_path %>
<% if @recipes %>
  <ul>
  <% @recipes.each do |recipe| %>
    <li><%= link_to recipe.title, recipe_path(recipe) %> <%= image_tag("#{recipe.image}") if recipe.image %>
      <ul>
        <li>Description: <%= recipe.description %></li>
        <li>Prep time: <%= pluralize(recipe.prep_time, 'week') %></li>
      </ul>
    </li>
  <% end %>
  </ul>
<% end %>
