<h2>Recipes#index</h2>
<h3 id="notice"><%= notice %></h3>



<table>
  <thead>
    <tr>
    </tr>
  </thead>
  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td>
          <%= link_to recipe.name, recipe_path(recipe) %>
          <ul>
            <% if recipe.category_id %>
            <li class="recipes-list" class="recipes-list">Category: <%= recipe.category.name %>
              <% end%>
            </li>
            <li class="recipes-list">Description: <%= recipe.description %></li>
            <li class="recipes-list">Prep time: <%= pluralize(recipe.prep_time, 'month') %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<%= link_to "New Recipe", new_recipe_path %>
