<%= raw @recipe.category.try(:image) %>
<br />
<h2><%= @recipe.name %></h2>
<p><%= @recipe.description %></p>
<% if @recipe.user %>
<p>By: <%= @recipe.user.try(:email) || "a former member" %></p>
<% end %>
<% if @recipe.ingredients_recipes.any? %>
  <p class="section-heading">Ingredients</p>
  <ul>
    <% @recipe.ingredients_recipes.each do |ir| %>
      <li><%= ir.ingredient.name %>: <%= ir.quantity %></li>
    <% end %>
  </ul>
<% end %>
<p class="section-heading">Instructions</p>
<p><%= @recipe.instructions %></p>
<br />
<%= link_to "Edit", edit_recipe_path(@recipe) %>
<br />
<br />
<%= link_to "Delete", delete_recipe_path(@recipe), method: "post", confirm: "Delete \"#{@recipe.name}?\"" %>
