
<h2>Game!</h2>
<h3>The vehicles below are part of which country's fleet?</h3>
<ul>
  <% @vehicles.each do |vehicle| %>
    <li><%= vehicle.make %> <%= vehicle.model %></li>
  <% end %>
</ul>

  <%= form_tag("game", method: "post") do %>
  <%= hidden_field "country", "#{@vehicles.first.country}" %>
  <%= select "vehicle", "country", options_for_select(@countries) %><%= submit_tag("Submit") %>
  <% end %>
<br />
<br />
<%= @answer_country if @guess_country %>
<%= @guess_country if @guess_country %>
