<div class='left'>
  <h2><%= @vehicle.make %> <%= @vehicle.model %></h2>
  <ul>
    <li>Type of Vehicle: <%= @vehicle.type_of_vehicle %></li>
    <li>Country: <%= @vehicle.country %></li>
    <% if @vehicle.engine %>
    <li>Engine: <%= @vehicle.engine.manufacturer %> <%= @vehicle.engine.cylinders %>-cylinder, which runs on <%= @vehicle.engine.fuel %></li>
    <% end %>
  </ul>
</div>
<div class='right'>
  <% if @vehicle.image %>
    <%= image_tag("#{@vehicle.image}") %>
  <% end %>
</div>
<br />
<br />
<div class='left'>
  <%= button_to "Edit", edit_vehicle_path(@vehicle), method: 'get' %>
  <%= button_to "Delete", vehicle_path(@vehicle), method: 'delete' %>
</div>
