<% @movie.each do |movie| %>

<div>
  <h3><%= movie['title']%> </h3>
  <h3><%= movie['description']%> </h3>
  <h3><%= movie['genre']%> </h3>
  <h3><%= movie['youtubeID']%> </h3>
  <h3><%= movie['movie']%> </h3>


  <a href="/delete/<%= movie['id']%>"> Delete </a>
  <a href="/edit/<%= movie['id']%>"> Edit </a>

</div>

</hr>

<% end %>