<% @movie.each do |movie| %>

 <h2>Title: <%= movie['title']%> </h2> 
  <h3>Genre:<%= movie['genre']%> </h3>  
  <h3>Description:<%= movie['description']%> </h3>
  <h3><%= movie['youtubeID']%> </h3>
  <h3><%= movie['movie']%> </h3>

  <div class="line"> </div>

 <div class="youtube"> <p><iframe width="480" height="360" src="//http://www.youtube.com/embed/<%= movie['youtubeID']%>" frameborder="0" allowfullscreen></iframe></p></div>

 <div class="box"> </div>

 <div style="clear:right"></div>

  <div class="delete"> <a href="/delete/<%= movie['id']%>"> Delete </a> </div>
 <div class="edit"> <a href="/edit/<%= movie['id']%>"> Edit </a> </div>

 




<% end %>