
<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

<<<<<<< HEAD
  <div class="field">
    <%= f.label :movie_image %>
=======
 <div class = 'field'>
    <%= f.label :movie_image %><br/>
>>>>>>> 2f4bf6ab33da6defed86734a5f388b7ae1d35697
    <%= f.file_field :movie_image %>
  </div>
   <p>
    <label>
      <%= f.check_box :remove_movie_image %>
      Remove Image
    </label>
  </p>

<<<<<<< HEAD
 <div class="field">
  <% Category.all.each do |category| %>
       <%= check_box_tag "movie[category_ids][]", category.id, @movie.categories.include?(category), id: "category_movie_ids_#{category.id}" %>
       <%= f.label :category_ids, category.name, for: "category_movie_ids_{category.id}" %>
       <%end%>
     </div>

  <div class="field">
    <%= f.label :venue %>
    <%= f.text_field :venue %>
  </div>

  <div class="field">
    <%= f.label :rating %>
    <%= f.text_field :rating %>
  </div>

  <div class="field">
    <%= f.label :review %>
    <%= f.text_field :review %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
