<h1><%=@movie.title%></h1>

<div>
  <%= link_to image_tag(@movie.movie_image.thumb.url), @movie.movie_image.detail.url %>
</div>
<div>
  Category:</br>
  <% @movie.categories.each do |category| %>
      <%= category.name %><br>
    <% end %>

</div>
<div>
  Venue: <%= @movie.venue%>
</div>
<div>
  Rating: <%= @movie.rating%>
</div>
<div>
  Review: <%= @movie.review%>
</div>

  <div>
      <%= button_to 'Edit', edit_movie_path(@movie), method: 'get'%>
    </div>
   <div>
      <%= button_to 'Delete', delete_movie_path(@movie), method: 'delete'%>
    </div>


