<h1><%=@movie.title%></h1>



<div>
  <%= image_tag @movie.movie_image.url %>
</div>
<div>
  Category: <% @movie.categories.each do |category| %>
    <%= category.name %><br>
  <% end %>
</div>
<div>
  Venue: <%= @movie.venue%>
</div>
<div>
  Rating: <%= @movie.rating%>
</div>
<div>
  Review: <%= @movie.review%>
</div>

  <div>
      <%= button_to 'Edit', edit_movie_path(@movie), method: 'get'%>
    </div>
   <div>
      <%= button_to 'Delete', delete_movie_path(@movie), method: 'delete'%>
    </div>


