<%= form_for @movie do |f| %>

  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved: <%= @movie.errors.full_messages.join(", ").downcase %>.</h3>
    </div>
  <% end %>

  <%= f.label :title %>
  <%= f.text_field :title, size: "80", readonly: true %><br />
  <%= f.label :director %>
  <%= f.text_field :director, readonly: true %><br />
  <%= f.label :actors %>
  <%= f.text_field :actors, size: "80", readonly: true %><br />
  <%= f.label :plot %><br />
  <%= f.text_area :plot, cols: "62", rows: "5", readonly: true %><br />
  Your Rating: 
  <%= f.radio_button :rating, "1" %>
  <%= f.label :rating, "1" %>
  <%= f.radio_button :rating, "2" %>
  <%= f.label :rating, "2" %>
  <%= f.radio_button :rating, "3" %>
  <%= f.label :rating, "3" %>
  <%= f.radio_button :rating, "4" %>
  <%= f.label :rating, "4" %>
  <%= f.radio_button :rating, "5" %>
  <%= f.label :rating, "5" %><br />
  How Viewed: 
  <%= f.radio_button :how_viewed, "Cinema" %>
  <%= f.label :how_viewed, "Cinema" %>
  <%= f.radio_button :how_viewed, "Cable/TV" %>
  <%= f.label :how_viewed, "Cable/TV" %>
  <%= f.radio_button :how_viewed, "DVD (own)" %>
  <%= f.label :how_viewed, "DVD (own)" %>
  <%= f.radio_button :how_viewed, "DVD (rented)" %><br />
  <%= f.label :how_viewed, "DVD (rented)" %><br />
  <%= f.label :review %><br />
  <%= f.text_area :review, cols: "62", rows: "5" %><br />
  <%= f.hidden_field :image %>
  <%= submit_tag "Submit" %>
<% end %>
