<h1>Scott's Cars</h1>
<table>
		<tr>
			<th>Make</th>
			<th>Year</th>
			<th>Color</th>
		</tr>
		<% @cars.each do |car| %>
		<tr>
			<td><%= car.make %></td>
			<td><%= car.year %></td>
			<td><%= car.color %></td>
			<td><%= link_to 'Show', car_path(car) %></td><td><%= link_to'Edit', edit_car_path(car) %></td><td><%= link_to 'Delete', car, method: :delete, data: { confirm: 'Are you sure?' } %></td></tr>	
		<% end %>
</table>


