<%= form_for(@vehicle) do |f| %>


  <div class="field">
    Name: <%= f.text_field :name %><br>
    </div>
  <div class="field">
    Year: <%= f.text_field :year %><br>
  </div>  
  <div class="field">
    Description: <%= f.text_area :description %><br>
  </div>
  <div class="field">
    Engine: <%= select_tag(:engine_id, options_for_select(@engines)) %><br>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>