<dl>
  <dt>
    <label for='stock_symbol'>Symbol:</label>
  </dt>
  <dd>
    <input id='stock_symbol' type='text' name='stock[symbol]' value='<%=@stock.symbol%>' autofocus>
  </dd>
</dl>

<dl>
  <dt>
    <label for='stock_name'>Name:</label>
  </dt>
  <dd>
    <input id='stock_name' type='text' name='stock[name]' value='<%=@stock.name%>' >
  </dd>
</dl>

<dl>
  <dt>
    <label for='stock_buying_price'>Buying Price:</label>
  </dt>
  <dd>
    <input id='stock_buying_price' type='text' name='stock[buying_price]' value='<%=@stock.buying_price%>' >
  </dd>
</dl>

<dl>
  <dt>
    <label for='stock_holding'>Holding:</label>
  </dt>
  <dd>
    <input id='stock_holding' type='text' name='stock[holding]' value='<%=@stock.holding%>' >
  </dd>
</dl>

<dl>
  <dt>
    <label for='stock_portfolio_id'>Portfolio ID:</label>
  </dt>
  <dd>
    <input id='stock_portfolio_id' type='text' name='stock[portfolio_id]' value='<%=@stock.portfolio_id%>' >
  </dd>
</dl>




<div class='clear_both'></div>


