<h1>Listing ten_lines</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ten_lines.each do |ten_line| %>
  <tr>
    <td><%= ten_line.name %></td>
    <td><%= link_to 'Show', ten_line %></td>
    <td><%= link_to 'Edit', edit_ten_line_path(ten_line) %></td>
    <td><%= link_to 'Destroy', ten_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ten line', new_ten_line_path %>
