<h1>Listing blogs</h1>



<% @blogs.each do |blog| %>
<table>
  <tr>
    <th><%= blog.title %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td><img src="<%= blog.blog_image %>"></td>
    <td><%= link_to 'Show', blog %></td>
    <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
    <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Blog', new_blog_path %>
