
<h2> Create a new recipe. </h2>

<%= form_for(@recipe) do |r| %>
 

  <div class="field">
    <%= r.label :name %><br />  
    <%= r.text_field :name %>
    </div>

    <div class="field">
    <%= r.label :serving_size %><br />  
    <%= r.text_field :serving_size %>
    </div>

    <div class="field">
    <%= r.label :category_id %><br />  
    <%= r.text_field :category_id %>
    </div>

    <div class="field">
    <%= r.label :picture %><br />
    <%= r.text_field :picture %>
    </div>

    <div class="field">
    <%= r.label :Ingredients %><br />
    <%= r.collection_select :category_id, Ingredient.all, :id, :name_for_select  %>
    </div>

    <div class="field">
            <%= r.label :ingridients %><br />
            <% for ingredient in Ingredient.find.all %>

        
        <% end %>
    </div>


  <div class="actions">
    <%= r.submit %>
  </div>
<% end %>