<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @class_game.name %>
</p>

<p>
  <b>Description:</b>
  <%= @class_game.description %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag @class_game.image %>
</p>


<%= link_to 'Edit', edit_class_game_path(@class_game) %> |
<%= link_to 'Back', class_games_path %>
