<h2>Results</h2>

	<% @videos.each do |video| %>

		 <%=video['url'] %>	

		 	<table>
		 		<tr><td>Title: <%=video['title'] %></td></tr>
		 		<tr><td>Description: <%=video['description'] %></td></tr>
		 		<tr><td>Tags: <%=video['tag'] %></td></tr>
				<tr><td><a href ='/edit/<%=video['id'] %>'>Edit video</a></td></tr>
		 		<tr><td><a href ='/delete/<%=video['id'] %>'>Delete video</a></td></tr>
		 	</table>

 	<% end %>