<!DOCTYPE html>
<html>
<head>
  <title>CookbookApp2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul>
    <li><%= link_to "Categories", categories_path %>
    <li><%= link_to "Recipes", recipes_path %>
    <li><%= link_to "Ingredients", ingredients_path %>
  </ul>
  <br />
  <br />
  <h2><%= flash[:notice] if flash[:notice] %></h2>


<%= yield %>

</body>
</html>
