<h2><%= @ingredient.name %></h2>
<% if @ingredient.ingredients_recipes.any? %>
  <h4>Recipes</h4>
  <ul>
    <% @ingredient.ingredients_recipes.each do |ingredients_recipe| %>
      <li><%= link_to ingredients_recipe.recipe.title, recipe_path(ingredients_recipe.recipe) %> (<span class="italics"><%= ingredients_recipe.recipe.category.name if ingredients_recipe.recipe.category.name %></span>)</li>

    <% end %>
  </ul>
<% end %>
<%= link_to "Add a Recipe", new_recipe_path %>
<br />
<br />
<%= link_to "Edit", edit_ingredient_path(@ingredient) %>
<br />
<br />
<%= link_to "Delete", delete_ingredient_path(@ingredient), method: "post", confirm: "Delete \"#{@ingredient.name}?\"" %>
