<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved: <%= @user.errors.full_messages.join(", ").downcase %>.</h3>
    </div>
  <% end %>

  <%= f.label :username %><br />
  <div class="black"><%= f.text_field :username, readonly: true_if_admin %></div><br />
  <%= f.label :password %><br />
  <div class="black"><%= f.password_field :password, readonly: true_if_admin %></div><br />
  <%= f.label :password_confirmation %><br />
  <div class="black"><%= f.password_field :password_confirmation, readonly: true_if_admin %></div><br />
  <% if true_if_admin %>
    <%= f.label :role %><br />
    <div class="black"><%= f.select :role, [[:admin],[:member]] %></div><br />
  <% end %>
  <div class="black"><%= f.submit "Submit" %></div>
<% end %>
