<h2>Portfolios</h2>


<ul>

  <% @portfolios.each do |portfolio| %>
    <li>
        <strong>Portfolio: </strong><%=portfolio.name %> 
        <a href='portfolios/<%=portfolio.id%>'>show</a> 
        <a href='portfolios/edit/<%=portfolio.id%>'>edit</a>
        <a href='portfolios/delete/<%=portfolio.id%>'>delete</a>
        <strong>Stocks: </strong> 
        <% portfolio.stocks.each do |stock| %>
          <%=stock.name %>,
        <% end %>
    </li>

  <% end %>
</ul>

<a href='/portfolios/new' >new portfolio</a>
