<!DOCTYPE html>
<html>
<head>
  <title>MoviesApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>Movies App</h1>

    <nav>
      <ul>
        <li><%= link_to("Home",movies_path) %></li>
      </ul>
    </nav>
  </header>
  
  <div class="container">
    <%= yield %>
  </div>

  <footer>
    <p><a href="http://www.louiechristie.com">Louie Christie</a> 2014</p>
  </footer>

</body>
</html>
