<!DOCTYPE html>
<html>
<head>
  <title>My Movies</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1><%= link_to("My Movies",movies_path) %></h1>
    <nav>
    </nav>
  </header>
  
  <div class="container">
    <%= yield %>
  </div>

  <footer>
    <p><a href="http://www.louiechristie.com">Louie Christie</a> 2014</p>
  </footer>

</body>
</html>
