<h2>Recipes</h2>

<table>
  <thead>
    <tr>
      <th>Recipe Name</th>
      <th>Category</th>
      <th>Feeds</th>  
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  </tbody>
    <% @recipes.each do |recipe| %>
    <tr>
      <td><%= link_to(recipe.name, recipe_path(recipe.id)) %></td>
      <td><%= recipe.category.try(:name) %></td>
      <td><%= recipe.feeds %></td>
      <td><%= link_to('Edit', edit_recipe_path(recipe.id)) %></td>
      <td><%= link_to('Delete', recipe_path(recipe.id), :method => :delete) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br/>
<p><%= link_to('New Recipe',new_recipe_path) %></p>
