
<p>Name: <%= @recipe.name %></p>
<p>Category: <%= Category.find(@recipe.category_id).name %></p>
<p>Ingredients:</p>

   <%
    sentences = []

    @recipe.ingredients_recipes.map do |ingredients_recipe |

      quantity = ingredients_recipe.quantity.to_s || ""
      measure = ingredients_recipe.measure|| ""
      name = Ingredient.find(ingredients_recipe.ingredient_id).name || ""
      sentence = quantity+" "+measure+" of "+name
      sentences << sentence
    end
  %>
  
  <ul>
    <% sentences.each do |sentence| %>
      <li><%= sentence %></li>
    <% end %>
  </ul>
<p>
  <%= link_to('Edit', edit_recipe_path(@recipe.id)) %> 
  <%= link_to('Delete', recipe_path(@recipe.id), :method => :delete) %>
</p>