<!DOCTYPE html>
<html>
<head>
  <title>Foodblog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="home"><%=link_to "Food Blog", root_path%></div>
<div id="view_all_recipes"><%=link_to "View All Recipes", recipes_path%></div>
<div id="view_all_ingredients"><%=link_to "View All Ingredients", ingredients_path%></div>

<%= yield %>

</body>
</html>
