<p id="notice"><%= notice %></p>

<%= form_for(@movie) do |form| %>

  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this category from being saved:</h2>
      <ul>
      <% @movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>*<br />
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :year %>*<br />
    <%= form.text_field :year %>
  </div>

  <div class="field">
    <%= form.label :review %><br />
    <%= form.text_area :review %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<br/>
<p><%= link_to "Home", movies_path %></p>