<p id="notice"><%= notice %></p>

<h2><%= @movie.title %></h2>

<h3>Year</h3>
<p><%= @movie.year %></p>
<h3>Plot</h3>
<p><%= @movie.plot %></p>
<h3>Review</h3>
<p><%= @movie.review %></p>
<br/>

<p><%= link_to "Home", movies_path %></p>
   