<!DOCTYPE html>
<html>
<head>
  <title>Cookbook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <ul>
      <li><%= link_to "Available Categories", categories_path %></li>
      <li><%= link_to "New Category" , new_category_path %></li>
    </ul>
  </header>

<%= yield %>

</body>
</html>
