<%= form_for @recipe do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :feeds %><br />
    <%= f.text_field :feeds %>
  </p>
  <p>
    <%= f.label :category_id %><br />
    <%= f.collection_select :category_id, Category.all, :id, :name %>
  </p>

  <p>
     <% if @ingredients_recipes %>
       <% @ingredients_recipes.each do |ingredient_recipe| %>
         <%= text_field :ingredients_recipes, ingredient_recipe.ingredient_id, value: ingredient_recipe.quantity  %>
         <%= ingredient_recipe.ingredient.name %>
         <br>
         <% end %>
         
         <% else %>     
       <% Ingredient.all.each do |ingredient| %>
         <%= text_field :ingredients_recipes, ingredient.id  %>
         <%= ingredient.name %>
         <br>
      <% end %>
     <% end %>
  </p>


  <p><%= f.submit %></p>
<% end %>
