<!DOCTYPE html>
<html>
<head>
  <title>GaCars</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= link_to "Home", cars_path %>
<a href="/cars/new">Add a New Vehicle</a>

<%= yield %>

</body>
</html>
