<!DOCTYPE html>
<html>
<head>
  <title>Fanzine</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <li><%=link_to "Home", index_path %></li>
</nav>
  <div class="container">
    <%= yield %>
  </div><!--containter-->
</body>
</html>
