<h2><%= @car.make %>&nbsp;<%= @car.model %></h2>

<div class='image_bg'>
	<% if @car.image.blank? %>
		<em>No image for this car on file.</em>
	<% else %>
		<img src= "<%= @car.image %>" alt= "A picture of <%= @car.image%>" />
	<% end %>
</div>

<table class='show'>
	<tr>
		<th>Make:</th>
		<td><%= @car.make %></td>
	</tr>
	<tr>
		<th>Model:</th>
		<td><%= @car.model %></td>
	</tr>
	<tr>
		<th>Year:</th>
		<td><%= @car.year %></td>
	</tr>
	<tr>
		<th>Colour:</th>
		<td><%= @car.colour %></td>
	</tr>
	<tr>
		<th>Engine:</th>
		<td><%= @car.engine.fuel_type %>&nbsp;<%= @car.engine.size %>&nbsp;<%= @car.engine.model %></td>
	</tr>
	<tr>
		<th>Category:</th>
		<td><%= @car.category %></td>
	</tr>
</table>



