<div class="details" >
<form action='/update/<%=@video['id'] %> ' method='post'>
  <p>Title:</p>
  <p> <input type="text" name="title" value="<%=@video['title'] %>"></p>
  <p>Description:</p>
  <p><input type="text" name="description" value="<%= @video['description'] %>"></p>
  <p>URL:</p>
  <p><input type="text" name="url" value="<%= @video['url'] %>"></p>
  <p>Genre:</p> 
  <p><input type="text" name="genre" value="<%= @video['genre'] %>"></p>
  <button class="button">Update</button>
</form>
</div>

<p><iframe width="356" height="200" src="//www.youtube.com/embed/<%= parse_youtube(@video['url']) %> " frameborder="0" allowfullscreen></iframe></p>