<p>
  <strong> <%=@video['title'] %></strong> 
  <%= @video['description'] %> 
  <%= @video['url'] %>  
  <%= @video['genre'] %>

  <iframe width="560" height="315" src="//www.youtube.com/embed/<%= parse_youtube(@video['url']) %> " frameborder="0" allowfullscreen></iframe>

  <form action='/edit/<%=@video['id']%>' method='get'>
    <button class="button">Edit</button>
  </form>
  
  <form action='/delete/<%=@video['id'] %> <' method='get'>
    <button class="button">Delete</button>
  </form>

</p>
  