<%= form_for(@recipe) do |r| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= r.label :category_id %> <br />
    <%  category_id = Category.all.first.id
    category_id = @recipe.category.id if @recipe && @recipe.category %>
    <%= r.select 'category_id', options_from_collection_for_select(Category.all, :id, :name, category_id) %>
  </div>
  <div class="field">
    <%= r.label :name %><br />
    <%= r.text_field :name %>
  </div>
  <div class="field">
    <%= r.label :description %><br />
    <%= r.text_area :description %>
  </div>
  <div class="field">
    <%= r.label :feeds_people %><br />
    <%= r.select :feeds_people, options_for_select(10.downto(1)) %>
  </div>
  <div class="field">
    <%= r.label :ingridients %><br />
    <%= hidden_field_tag "recipe[ingridient_ids][]" %>
    <% for ingridient in Ingridient.all %>
    <%= check_box_tag "recipe[ingridient_ids][]", ingridient.id, @recipe.ingridients.include?(ingridient) %> 
    <%= ingridient.name %>
  <% end %>
  </div>

   <!-- <p>
  <%= r.fields_for :ingridients_recipes do |i| %>
    <div class="field">
      <%= i.hidden_field :ingridient_id %>
      <%= i.text_field :quantity %>
      <%= i.label :quantity, "Quantity of #{i.object.ingridient.name}" %>
    </div>
  <% end %>
  </p> -->

  <div class="actions">
    <%= r.submit %>
  </div>
<% end %>