<table>
<tr>
  <th>Category </th>
  <th>Name </th> 
  <th>Feeds </th>
  <th>Description </th>
  <th><%= pluralize('Name of', 'ingredient') %> </th>

  <!-- <th>Quantity </th>
  <th>Measure </th> -->

  <th>Quantity of Ingridients </th>
</tr>
<tr>
  <td><%= @recipe.category.name %> </td>
  <td><%= @recipe.name %> </td> 
  <td><%= @recipe.feeds_people %> </td>
  <td><%= @recipe.description %> </td>
  <td>
  <%= @recipe.ingridients.map { |ingridient| ingridient.name }.to_sentence %> 
  </td>

  <!-- <td>
  <%= @recipe.ingridients_recipes.map { |ingridients_recipe| ingridients_recipe.quantity.to_s } %>
  </td>
  <td>
  <%= @recipe.ingridients_recipes.map { |ingridients_recipe| ingridients_recipe.measure.to_s  } %>
  </td> -->

  <td>
    <% @recipe.ingridients_recipes.each do |ingridients_recipe| %>
      <%= ingridients_recipe.quantity %> <%= ingridients_recipe.measure %>  of <%= ingridients_recipe.ingridient.try(:name) %><br>
    <% end %>
  </td>

</tr>
</table>

<div class="links">

  <ul>
    <li>
    <% if can? :update, @recipe %>
    <%= link_to 'Edit', edit_recipe_path(@recipe) %>
    <% end %>
    </li>
    <li>
    <%= button_to 'Delete Recipe', recipe_delete_path(@recipe) %>
    </li>
    <li>
    <%= link_to 'Back', recipes_path %>
    </li>
  </ul>
  

</div>